@import "tailwindcss";

html,
body,
:root {
  height: 100%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@theme {
  --color-primary: #fc842d;
  --color-secondary: "#9B9FAA";
  --color-textColor: "#212121";
  --color-pageBg: "#f0f1f3";
}

.btn-normal {
  @apply bg-primary text-white w-44 h-11 justify-self-center md:justify-self-start mt-10  py-3 px-6 font-bold text-sm shadow-xl flex justify-center items-center rounded-full;
}

.btn-outline {
  @apply bg-white text-primary border-2 border-primary w-44 h-11 justify-self-center md:justify-self-start mt-10  py-3 px-6 font-bold text-sm shadow-xl flex justify-center items-center rounded-full;
}

.btn-calculator {
  @apply w-52 h-11 bg-primary text-white justify-self-center md:justify-self-start mt-10  py-3 px-6 font-bold text-sm shadow-xl flex justify-center items-center rounded-full;
}
